[Unit]
Description=Kafka with broker id ({{ groups['all'].index(inventory_hostname) }})
Description=Apache Kafka server (broker)
Documentation=http://kafka.apache.org/documentation.html
After=network.target

[Service]
Type=simple
ExecStart=/opt/kafka/bin/kafka-server-start.sh /opt/kafka/config/server.properties
ExecStop=/opt/kafka/bin/kafka-server-stop.sh

[Install]
WantedBy=multi-user.target
